package jwtserver

import (
	"{{.Module}}/{{.CoreConfig.CoreDir}}"
	base "{{.Module}}/auth"
	"net/http"
	"go.uber.org/fx"
	"go.uber.org/zap"
	"go.uber.org/config"
)


type Interface interface {
	SignIn(w http.ResponseWriter, r *http.Request)
	Validate(w http.ResponseWriter, r *http.Request)
	Refresh(w http.ResponseWriter, r *http.Request)
	ClaimsFromHeader(w http.ResponseWriter, r *http.Request) (*Claims, error)
	HandleHTTP(w http.ResponseWriter, r *http.Request) error
}

type Implementation struct {
	core *core.Implementation
	logger *zap.Logger
	key []byte 
}

type Params struct {
	fx.In
	Core *core.Implementation
	Logger *zap.Logger `optional:"true"`
	Config config.Provider
}

func New(params Params) (base.Interface, error) {
	key := params.Config.Get("auth.jwt.key").String()
	logger := params.Logger
	if logger == nil {
		logger = zap.NewNop()
	}
	i := Implementation{
		core: params.Core,
		logger: logger,
		key: []byte(key),
	}

	http.HandleFunc("/signin", i.SignIn)
	http.HandleFunc("/validate", i.Validate)
	http.HandleFunc("/refresh", i.Refresh)

	logger.Info(`Serving JWT AUTH HTTP: /signin, /refresh, /validate`)
	return &i, nil
}