apiVersion: v1
kind: Service
metadata:
  name: {{ "{{" }} include "{{.Identifier}}.fullname" . {{ "}}" }}
  labels:
    {{ "{{-" }} include "{{.Identifier}}.labels" . | nindent 4 {{ "}}" }}
spec:
  type: {{ "{{" }} .Values.service.type {{ "}}" }}
  ports:
    - port: {{ "{{" }} .Values.service.grpcPort {{ "}}" }}
      targetPort: grpc
      protocol: TCP
      name: grpc
{{- if .HasJWTAuth}}
    - port: {{ "{{" }} .Values.service.httpPort {{ "}}" }}
      targetPort: http
      protocol: TCP
      name: http
{{- end}}
  selector:
    {{ "{{-" }} include "{{.Identifier}}.selectorLabels" . | nindent 4 {{ "}}" }}
