apiVersion: v1
kind: Pod
metadata:
  name: "{{ include "<<.Identifier>>.fullname" . }}-test-connection"
  labels:
    {{- include "<<.Identifier>>.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": test
spec:
  containers:
<<- if and .ServesHTTP .HelmHTTPProbePath>>
    - name: http-check
      image: busybox
      command: ['wget', '-q', '-O-']
      args: ['{{ include "<<.Identifier>>.fullname" . }}:{{ .Values.service.httpPort }}<<.HelmHTTPProbePath>>']
<<- else if .ServesHTTP>>
    - name: http-check
      image: busybox
      command: ['nc', '-z', '-w', '3']
      args: ['{{ include "<<.Identifier>>.fullname" . }}', '{{ .Values.service.httpPort }}']
<<- else>>
    {{- /* gRPC-only: a plain wget against a gRPC port proves nothing, so check
           the port is accepting connections instead. */}}
    - name: grpc-check
      image: busybox
      command: ['nc', '-z', '-w', '3']
      args: ['{{ include "<<.Identifier>>.fullname" . }}', '{{ .Values.service.grpcPort }}']
<<- end>>
  restartPolicy: Never
