version: "2"
sql:
  - engine: "mysql"
    schema: "sql/schema/create.sql"
    queries: "sql/queries/"
    gen:
      go:
        package: "{{.ProjectIdentifier}}db"
        out: "gen"
        emit_interface: true
        emit_json_tags: true
        rename:{{range $identifier, $camelCase := .Fields}}
          {{$identifier}}: {{ $camelCase }}{{end}}
        overrides:
          - db_type: "int"            
            engine: "mysql"
            go_type:              
              type: "int64"
          - db_type: "json"
            go_type:
              type: "[]byte"  # workaround sqlc bug when reading null json columns
            nullable: true
          - db_type: datetime
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "Time"
          - db_type: date
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "Time"
          - db_type: varchar
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "String"
          - db_type: char
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "String"
          - db_type: text
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "String"
          - db_type: int
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "Int"
          - db_type: float
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "Float"
          - db_type: double
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "Float"
          - db_type: double
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "Float"
          - db_type: tinyint(1)
            nullable: true            
            go_type:
              import: "github.com/guregu/null/v6"
              package: "null"
              type: "Bool"
          