package mapper

{{$timestampImport := false}}
{{$uuidImport := false}}
{{$enumImport := false}}
{{$nullImport := false}}
{{$jsonImport := false}}
{{$projectModule := .Project.Module}}

import (
    main_entity "{{.Project.Module}}/{{.Project.EntitiesConfig.Dir}}/{{.OriginalIdentifier}}"
    pb "{{.Project.Module}}/{{.Project.ProtoConfig.Dir}}/gen"
    {{range $field := .Fields}}
        {{if and (eq $field.GolangType "time.Time") (eq $timestampImport false)}}
        "google.golang.org/protobuf/types/known/timestamppb" {{$timestampImport = true}} {{end}}        
        {{if and (eq $field.Enum true) (eq $enumImport false)}}
        "{{$projectModule}}/enum" {{$enumImport = true}}{{end}}
        {{if and (eq $field.IsNullable true) (eq $nullImport false)}}
        "github.com/guregu/null/v6" {{$nullImport = true}}{{end}}  
        {{if and (eq $field.IsRawJSON true) (eq $jsonImport false)}}
        "encoding/json" {{$jsonImport = true}}{{end}}  
    {{end}}    
    
)

func {{.Name}}ToProto(e main_entity.{{.Type}}) *pb.{{.Name}} {
    return &pb.{{.Name}}{ {{range $field := .Fields}}
        {{$field.ProtoGenName}}: {{$field.ProtoToMapper}},{{end}}
    }
}

func {{.Name}}SliceToProto(es []main_entity.{{.Type}}) []*pb.{{.Name}} {
    res := []*pb.{{.Name}}{}
    for _, e := range es {
        res = append(res, {{.Name}}ToProto(e))
    }
    return res
}

func {{.Name}}FromProto(m *pb.{{.Name}}) main_entity.{{.Type}} {
    if m == nil {
        return main_entity.{{.Type}}{}
    }
    return main_entity.{{.Type}}{ {{range $field := .Fields}}
        {{$field.Name}}: {{$field.ProtoFromMapper}},{{end}}
    }
}

func {{.Name}}SliceFromProto(es []*pb.{{.Name}}) []main_entity.{{.Type}} {
    if es == nil {
        return []main_entity.{{.Type}}{}
    }
    res := []main_entity.{{.Type}}{}
    for _, e := range es {
        res = append(res, {{.Name}}FromProto(e))
    }
    return res
}

