syntax = "proto3";

option go_package = "{{.ProjectIdentifier}}/idl/gen";
option java_multiple_files = true;
option java_package = "{{.ProjectModule}}";
option java_outer_classname = "{{.Name}}";

package {{.ProjectIdentifier}};

{{range $enum := .Enums }}
enum {{.ProtoType}} { {{range $index, $option := $enum.Options}}
    {{$option}} = {{$index}};{{end}}
}
{{end}}