syntax = "proto3";

option go_package = "{{.Project.Identifier}}/{{.Project.ProtoConfig.Dir}}/gen";
option java_multiple_files = true;
option java_package = "{{.Project.Module}}";
option java_outer_classname = "{{.Name}}";

package {{.Project.Identifier}};

{{range $enum := .Enums }}
enum {{.ProtoType}} { {{range $index, $option := $enum.Options}}
    {{$option}} = {{$index}};{{end}}
}
{{end}}