package server

import (
	"context"
	"errors"
	"{{.ProjectModule}}/core/module/{{.FinalIdentifier}}/types"
	pb "{{.ProjectModule}}/idl/gen"
	pbmapper "{{.ProjectModule}}/idl/mapper"
	{{ if .Project.MonitoringConfig.Enabled }}
	"{{.ProjectModule}}/monitoring"
	{{end}}
	"go.einride.tech/aip/fieldmask"
	"strings"	
)

func (s *server) Update{{.Name}}(ctx context.Context, req *pb.Update{{.Name}}Request) (*pb.{{.Name}}, error) {

	{{$entityName := .Name}}
	{{range $primaryKey := .PrimaryKeys}}
	if req.{{$entityName}}.{{$primaryKey.ProtoGenName}} == "" {
		return nil, errors.New("please provide a valid {{$primaryKey.Name}} to update")
	}
	{{end}}

	{{if eq .HasVersionField true}}
		if req.{{.Name}}.Version == 0 {
			return nil, errors.New("please provide a valid version to update")
		}
	{{end}}

	
	err := fieldmask.Validate(req.UpdateMask, req)
	if err != nil {
		{{ if .Project.MonitoringConfig.Enabled }}
		s.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "update_{{.FinalIdentifier}}",
			Message: "error validating fieldmask in Update{{.Name}}",
			EntityIdentifier: "{{.FinalIdentifier}}",
			Layer: monitoring.ProtocolServiceLayer,
			LayerSubtype: "protobuf",
			Type: monitoring.EmitTypeError,
			Data: req,			
			Error: err,		
		})
		{{end}}
		return nil, err
	}

	isFull := fieldmask.IsFullReplacement(req.UpdateMask)

	{{$finalIdentifier := .FinalIdentifier}}
	if !isFull && req.UpdateMask != nil {
		{{range $primaryKey := .PrimaryKeys}}
		if !strings.Contains(req.UpdateMask.String(), "{{$finalIdentifier}}.{{$primaryKey.Identifier}}") {
			req.UpdateMask.Append(req, "{{$finalIdentifier}}.{{$primaryKey.Identifier}}")
		}		
		{{end}}
		{{if eq .HasVersionField true}}
		if !strings.Contains(req.UpdateMask.String(), "{{.FinalIdentifier}}.version") {
			req.UpdateMask.Append(req, "{{.FinalIdentifier}}.version")
		}
		{{end}}
		newReq := &pb.Update{{.Name}}Request{}
		fieldmask.Update(req.UpdateMask, newReq, req)
		req = newReq
	}

	res, err := s.core.{{.Name}}().Update(ctx, types.UpsertRequest{
		{{.Name}}: pbmapper.{{.Name}}FromProto(req.Get{{.Name}}()),
	}, !isFull)
	if err != nil {
		{{ if .Project.MonitoringConfig.Enabled }}
		s.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "update_{{.FinalIdentifier}}",
			Message: "error calling core upsert in Update{{.Name}}",
			EntityIdentifier: "{{.FinalIdentifier}}",
			Layer: monitoring.ProtocolServiceLayer,
			LayerSubtype: "protobuf",
			Type: monitoring.EmitTypeError,
			Data: req,			
			Error: err,		
		})
		{{end}}
		return nil, err
	}

	fetchRes, err := s.core.{{.Name}}().Fetch{{.Name}}By{{.PrimaryKeysName}}(ctx, types.Fetch{{.Name}}By{{.PrimaryKeysName}}Request(res))
	if err != nil {
		{{ if .Project.MonitoringConfig.Enabled }}
		s.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "update_{{.FinalIdentifier}}",
			Message: "error fetching after upsert in Update{{.Name}}",
			EntityIdentifier: "{{.FinalIdentifier}}",
			Layer: monitoring.ProtocolServiceLayer,
			LayerSubtype: "protobuf",
			Type: monitoring.EmitTypeError,
			Data: req,			
			Error: err,		
		})
		{{end}}
		return nil, err
	}

	if len(fetchRes.Results) == 0 {
		err := errors.New("error fetching entity")
		{{ if .Project.MonitoringConfig.Enabled }}
		s.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "update_{{.FinalIdentifier}}",
			Message: "entity not found after upsert in Update{{.Name}}",
			EntityIdentifier: "{{.FinalIdentifier}}",
			Layer: monitoring.ProtocolServiceLayer,
			LayerSubtype: "protobuf",
			Type: monitoring.EmitTypeError,
			Data: req,			
			Error: err,		
		})
		{{end}}
		return nil, err
	}

	{{ if .Project.MonitoringConfig.Enabled }}
	s.monitoring.Emit(monitoring.EmitRequest{
		ActionIdentifier: "update_{{.FinalIdentifier}}",
		Message: "successfully handled Update{{.Name}}",
		EntityIdentifier: "{{.FinalIdentifier}}",
		Layer: monitoring.ProtocolServiceLayer,
		LayerSubtype: "protobuf",
		Type: monitoring.EmitTypeSuccess,
		Data: req,				
	})
	{{end}}
	return pbmapper.{{.Name}}ToProto(fetchRes.Results[0]), nil
}
