package {{.Package}}

import (
    "fmt"
    "encoding/json"
    
    {{$timeImport := false}}    
    {{range $import := .Imports}}
    "{{$import}}" {{end}}
    
     
)

type {{.EntityName}} struct { {{range $field := .Fields}}
    {{$field.Name}} {{if eq $field.EnumMany true}}[]{{end}}{{if eq $field.JSONMany true}}[]{{end}}{{if eq $field.JSON true}}{{$field.JSONIdentifier}}.{{end}}{{$field.GolangType}} {{$field.Tags}}{{end}}
}

func (e {{.EntityName}}) String() string {
    res, _ := json.Marshal(e)
    return string(res)
}

func (e {{.EntityName}}) EntityIdentifier() string {    
    return "{{.Identifier}}"
}

func (e {{.EntityName}}) OrderedFieldIdentifiers() []string {
    res := []string{}
    {{range $field := .Fields -}}
    res = append(res, "{{$field.Identifier}}")
    {{end}}
    return res
}

func {{.EntityName}}FromJSON(data json.RawMessage) {{.EntityName}} {
    entity := {{.EntityName}}{}
    if err := json.Unmarshal(data, &entity); err != nil {
        fmt.Println("unmarshal error", err)
    }
    return entity
}

func {{.EntityName}}SliceFromJSON(data json.RawMessage)[]{{.EntityName}} {
    entity := []{{.EntityName}}{}
    if err := json.Unmarshal(data, &entity); err != nil {
        fmt.Println("unmarshal error", err)
    }
    return entity
}

func (e {{.EntityName}}) ToJSON() json.RawMessage {
    res, err := json.Marshal(e)
    if err != nil {
        fmt.Println("marshal error {{.EntityName}}ToJSON", err)
    }
    return res
}

func {{.EntityName}}ToJSON(e {{.EntityName}}) json.RawMessage {
    res, err := json.Marshal(e)
    if err != nil {
        fmt.Println("marshal error {{.EntityName}}ToJSON", err)
    }
    return res
}


func {{.EntityName}}SliceToJSON(e []{{.EntityName}}) json.RawMessage {
    if e == nil {
        return json.RawMessage{}
    }
    res, err := json.Marshal(e)
    if err != nil {
        fmt.Println("marshal error {{.EntityName}}SliceToJSON", err)
    }
    return res
}
