package {{.Package}}

{{$projectModule := .Project.Module}}
{{$entityDir := .Project.EntitiesConfig.Dir}}
import (
    "fmt"
    "encoding/json"
         
    {{range $import := .Imports}}
    "{{$import}}" {{end}}

    "{{$projectModule}}/{{$entityDir}}/mapper"
    
     
)

type {{.EntityName}} struct { {{range $field := .Fields}}
    {{$field.Name}} {{if eq $field.EnumMany true}}[]{{end}}{{if eq $field.JSONMany true}}[]{{end}}{{if eq $field.JSON true}}{{$field.JSONIdentifier}}.{{end}}{{$field.GolangType}} {{$field.Tags}}{{end}}
}

func (e {{.EntityName}}) String() string {
    res, _ := json.Marshal(e)
    return string(res)
}

func (e {{.EntityName}}) PrimaryKeyValues() []string {  
    return []string{
    {{range $pk := .PrimaryKeys}}{{if $pk.IsUUID}}e.{{$pk.Name}}.String(){{else}}e.{{$pk.Name}}{{end}},
    {{end}}
    }    
}

func {{.EntityName}}FromJSON(data json.RawMessage) {{.EntityName}} {      
    entity := {{.EntityName}}{}
    if data == nil {
        return entity
    }
    if len(data) == 0 {
        return entity
    }

    if err := json.Unmarshal(data, &entity); err != nil {        
        if err2 := mapper.FlexibleUnmarshal(data, &entity); err2 != nil {
            fmt.Printf("flexible unmarshal error {{.EntityName}}FromJSON: %v\n", err2)
        }
    }
    return entity
}

func {{.EntityName}}SliceFromJSON(data json.RawMessage)[]{{.EntityName}} {
    entity := []{{.EntityName}}{}
    if data == nil {
        return entity
    }
    if len(data) == 0 {
        return entity
    }

    if err := json.Unmarshal(data, &entity); err != nil {        
        var rawSlice []json.RawMessage
        if err2 := json.Unmarshal(data, &rawSlice); err2 == nil {
            for _, raw := range rawSlice {
                item := {{.EntityName}}{}
                if err3 := mapper.FlexibleUnmarshal(raw, &item); err3 != nil {
                    fmt.Printf("flexible unmarshal error {{.EntityName}}SliceFromJSON item: %v\n", err3)
                }
                entity = append(entity, item)
            }
        }
    }
    return entity
}

func (e {{.EntityName}}) ToJSON() json.RawMessage {
    res, err := json.Marshal(e)
    if err != nil {
        fmt.Printf("marshal error {{.EntityName}}ToJSON: %v\n", err)
    }
    return res
}

func {{.EntityName}}ToJSON(e {{.EntityName}}) json.RawMessage {
    res, err := json.Marshal(e)
    if err != nil {
        fmt.Printf("marshal error {{.EntityName}}ToJSON: %v\n", err)
    }
    return res
}


func {{.EntityName}}SliceToJSON(e []{{.EntityName}}) json.RawMessage {
    if e == nil {
        return json.RawMessage{}
    }
    res, err := json.Marshal(e)
    if err != nil {
        fmt.Printf("marshal error {{.EntityName}}SliceToJSON: %v\n", err)
    }
    return res
}


