package {{.Package}}

import (    
    main_entity "{{.ProjectModule}}/entity/{{.Package}}"
    {{.ProjectIdentifier}}db "{{.ProjectModule}}/core/repository/gen"  
	{{if or (eq .HasArrayField true) (eq .HasNullUUID true)}}
		"{{.ProjectModule}}/entity/mapper"
	{{end}}
	{{range $import := .Imports}} {{if and (ne $import "time") (ne $import "github.com/gofrs/uuid")}} 
    "{{$import}}" {{end}}{{end}}
)

func mapModelsToEntities(models []{{.ProjectIdentifier}}db.{{.EntityName}}) []main_entity.{{.EntityName}} {
	result := []main_entity.{{.EntityName}}{}
	for _, p := range models {
		result = append(result, mapModelToEntity(p))
	}
	return result
}

func mapModelToEntity(m {{.ProjectIdentifier}}db.{{.EntityName}}) main_entity.{{.EntityName}} {	
	return main_entity.{{.EntityName}}{ {{range $field := .Fields}}
        {{$field.Name}}: {{$field.RepoFromMapper}},{{end}}	
	}
}