package {{.Package}}

import (
	"context"
    "sync"
	"{{.Project.Module}}/{{.Project.CoreConfig.CoreDir}}/{{.Project.CoreConfig.RepoDir}}"
	coretypes "{{.Project.Module}}/{{.Project.CoreConfig.CoreDir}}/types"
	"{{.Project.Module}}/{{.Project.CoreConfig.CoreDir}}/module/{{.EntityIdentifier}}/types"
	{{if eq .Project.MonitoringConfig.Enabled true}}
	"{{.Project.Module}}/monitoring"
	{{end}}
	{{if eq .Project.CoreConfig.EventsConfig.Enabled true}}
	"{{.Project.Module}}/{{.Project.CoreConfig.CoreDir}}/{{.Project.CoreConfig.EventsConfig.Dir}}"
	{{end}}
)

type Module interface {
    {{range $select := .SelectStatements}}
    Fetch{{$select.Name}}(ctx context.Context, req types.Fetch{{$select.Name}}Request, opts ...Option) (types.Fetch{{$select.Name}}Response, error){{end}}	

	List(ctx context.Context, req types.ListRequest, opts ...Option) (types.ListResponse, error)
	
	Upsert(ctx context.Context, req types.UpsertRequest, partial bool, opts ...Option) (types.UpsertResponse, error)
	Insert(ctx context.Context, req types.UpsertRequest, opts ...Option) (types.UpsertResponse, error)
	Update(ctx context.Context, req types.UpsertRequest, partial bool, opts ...Option) (types.UpsertResponse, error)

}

type module struct {
	mu sync.Mutex
	repository *repository.Implementation    
	{{if eq .Project.MonitoringConfig.Enabled true}}
	monitoring *monitoring.Implementation
	{{end}}
	{{if eq .Project.CoreConfig.EventsConfig.Enabled true}}
	events     *events.Implementation
	{{end}}
}

func New(params coretypes.ModuleParams) Module {
	return &module{
		repository: params.Repository,
		{{if eq .Project.MonitoringConfig.Enabled true}}
		monitoring: params.Monitoring,
		{{end}}
		{{if eq .Project.CoreConfig.EventsConfig.Enabled true}}
		events: params.Events,
		{{end}}
	}
}
