package {{.Package}}

{{$entityName := .EntityName}}
{{$projectIdentifier := .Project.Identifier}}
{{$projectModule := .Project.Module}}
{{$entityIdenfier := .EntityIdentifier}}
{{$imports := .Imports}}
import (
	"context"
    {{if eq .ShouldPublishEvents true}}
    "errors"
    {{end}}
			
	{{if eq .Project.MonitoringConfig.Enabled true}}
	"{{$projectModule}}/monitoring"
	{{end}}

	"{{$projectModule}}/{{.Project.CoreConfig.CoreDir}}/module/{{.EntityIdentifier}}/types"	
	{{.Project.Identifier}}db "{{$projectModule}}/{{.Project.CoreConfig.CoreDir}}/{{.Project.CoreConfig.RepoDir}}/gen"  
		
	{{$firstJSON := true}}
	{{$firstEnumMany := true}}
	{{range $field := .Fields}}				
		{{if eq $firstJSON true}}
			{{if eq $field.JSON true }}
				{{range $import := $imports}} {{if and (ne $import "time") (ne $import "github.com/gofrs/uuid") (ne $import (printf "%s/enum" $projectModule)) (ne $import "github.com/guregu/null/v6")}} 
    			"{{$import}}" {{end}}{{end}}
				{{$firstJSON = false}}
			{{end}}
		{{end}}
		{{if eq $firstEnumMany true}}
			{{if eq $field.EnumMany true}}
				main_entity "{{$projectModule}}/entity/{{$entityIdenfier}}"
				{{$firstEnumMany = false}}
			{{end}}
		{{end}}
	{{end}}
	{{if eq .HasVersionField true}}
	"time"
	{{end}}
	{{if or (eq .HasArrayField true) (eq .HasNullUUID true)}}
	"{{.Project.Module}}/entity/mapper"
	{{end}}	
)


func (m *module) Insert(
	ctx context.Context, 
	req types.UpsertRequest,	
	opts ...Option,
) (types.UpsertResponse, error) {

	optConfig := applyAllOptions(opts)

	tx := optConfig.SQLTx
	createdTx := false
	if tx == nil {
		ntx, err := m.repository.DB.Begin()
		if err != nil {
			return types.UpsertResponse{}, err
		}
		tx = ntx
		defer tx.Rollback()
		createdTx = true
	}

	qtx := m.repository.Queries.WithTx(tx)
	params := mapUpsertRequestToInsertParams(req)
	{{if eq .HasVersionField true}}
	params.Version = time.Now().Unix()
	{{end}}
	_, err := qtx.Insert{{.EntityName}}(
		ctx,
		params,
	)
	if err != nil {
		{{if eq .Project.MonitoringConfig.Enabled true}}
		m.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "upsert_{{.EntityIdentifier}}",
			Message: "error calling repository for Upsert{{.EntityName}} - no uuid",
			EntityIdentifier: "{{.EntityIdentifier}}",
			Layer: monitoring.RepositoryServiceLayer,
			Type: monitoring.EmitTypeError,
			Data: req,
			Error: err,
		})
		{{end}}
		return types.UpsertResponse{}, err
	}

	{{if eq .ShouldPublishEvents true}}
	err = m.publishInsertEvent(ctx, req, qtx)
	if err != nil {
		return types.UpsertResponse{}, err
	}
	{{end}}

	if createdTx {
		err := tx.Commit()
		if err != nil {
			{{if eq .Project.MonitoringConfig.Enabled true}}
			m.monitoring.Emit(monitoring.EmitRequest{
				ActionIdentifier: "upsert_{{.EntityIdentifier}}",
				Message:          "error committing for Upsert{{.EntityName}} (1)",
				EntityIdentifier: "{{.EntityIdentifier}}",
				Layer:            monitoring.RepositoryServiceLayer,
				Type:             monitoring.EmitTypeError,
				Data:             req,
				Error:            err,
			})
			{{end}}
			return types.UpsertResponse{}, err
		}
	}

	{{if eq .Project.MonitoringConfig.Enabled true}}
	m.monitoring.Emit(monitoring.EmitRequest{
		ActionIdentifier: "upsert_{{.EntityIdentifier}}",
		Message: "successfully handled Upsert{{.EntityName}} - no uuid",
		EntityIdentifier: "{{.EntityIdentifier}}",
		Layer: monitoring.ModuleServiceLayer,
		Type: monitoring.EmitTypeSuccess,
		Data: req,			
	})	
	{{end}}	

	return buildInsertResponse(req), nil	
}

func buildInsertResponse(req types.UpsertRequest) types.UpsertResponse {
	return types.UpsertResponse{
		{{range $pk := .PrimaryKeys}}
		{{$pk.Name}}: req.{{$entityName}}.{{$pk.Name}},
		{{end}}
	}
}

func mapUpsertRequestToInsertParams(req types.UpsertRequest) {{.Project.Identifier}}db.Insert{{.EntityName}}Params {	
	return {{.Project.Identifier}}db.Insert{{.EntityName}}Params{ {{range $field := .Fields}}						
        {{$field.Name}}: {{$field.RepoToMapperUpsert}}, 		
		{{end}}
	}
}

{{if eq .ShouldPublishEvents true}}
func (m *module) publishInsertEvent(ctx context.Context, 
		req types.UpsertRequest, 
		qtx *{{.Project.Identifier}}db.Queries) error {

	if m.events == nil {
		return nil
	}

	fetched, err := qtx.Fetch{{.EntityName}}By{{.PrimaryKeysName}}(ctx, 
		{{range $pk := .PrimaryKeys}}{{$pk.RepoToMapperUpsert}}, {{end}}
	)
	if err != nil {
		{{if eq .Project.MonitoringConfig.Enabled true}}
		m.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "upsert_{{.EntityIdentifier}}",
			Message: "error fetching after Upsert{{.EntityName}} - no uuid",
			EntityIdentifier: "{{.EntityIdentifier}}",
			Layer: monitoring.RepositoryServiceLayer,
			Type: monitoring.EmitTypeError,
			Data: req,
			Error: err,
		})
		{{end}}
		return err
	}
	
	fetchedEntities := mapModelsToEntities(fetched)
	if len(fetchedEntities) != 1 {
		return errors.New("error mapping to entity")
	}		
	err = m.events.ProduceEntityInserted(fetchedEntities[0])
	if err != nil {
		{{if eq .Project.MonitoringConfig.Enabled true}}
		m.monitoring.Emit(monitoring.EmitRequest{
			ActionIdentifier: "upsert_{{.EntityIdentifier}}",
			Message: "error producing insert event for Upsert{{.EntityName}} - no uuid",
			EntityIdentifier: "{{.EntityIdentifier}}",
			Layer: monitoring.RepositoryServiceLayer,
			Type: monitoring.EmitTypeError,
			Data: req,
			Error: err,
		})
		{{end}}
		return err
	}
	return nil
}
{{end}}