package types 

import (
    "{{.Module}}/core/repository"
    {{if eq .Core.Events.Enabled true}}
    "{{.Module}}/core/event"
    {{end}}
    {{if eq .Monitoring.Enabled true}}
    "{{.Module}}/monitoring"
    {{end}}
)

type ModuleParams struct {    
    Repository *repository.Implementation
    {{if eq .Monitoring.Enabled true}}
    Monitoring *monitoring.Implementation
    {{end}}
    {{if eq .Core.Events.Enabled true}}
    Events     *events.Implementation
    {{end}}
}