package types 

import (
    "{{.Module}}/{{.CoreConfig.CoreDir}}/{{.CoreConfig.RepoDir}}"
    {{if eq .CoreConfig.EventsConfig.Enabled true}}
    "{{.Module}}/{{.CoreConfig.CoreDir}}/{{.CoreConfig.EventsConfig.Dir}}"
    {{end}}
    {{if eq .MonitoringConfig.Enabled true}}
    "{{.Module}}/monitoring"
    {{end}}
)

type ModuleParams struct {    
    Repository *repository.Implementation
    {{if eq .MonitoringConfig.Enabled true}}
    Monitoring *monitoring.Implementation
    {{end}}
    {{if eq .CoreConfig.EventsConfig.Enabled true}}
    Events     *events.Implementation
    {{end}}
}