package types

{{$projectModule := .Project.Module}}
{{$package := .Package}}
import (
    main_entity "{{$projectModule}}/entity/{{.EntityIdentifier}}"	    
    "github.com/gofrs/uuid"
)

type UpsertRequest struct {
    {{.EntityName}} main_entity.{{.EntityName}}
}

type UpsertResponse struct {
    {{range $pk := .PrimaryKeys}}
    {{$pk.Name}} {{$pk.GolangType}}
    {{end}}
}