package {{.Package}}

import (    
    main_entity "{{.Project.Module}}/entity/{{.Package}}"
    {{.Project.Identifier}}db "{{.Project.Module}}/{{.Project.CoreConfig.CoreDir}}/{{.Project.CoreConfig.RepoDir}}/gen"  
	{{if or (eq .HasArrayField true) (eq .HasNullUUID true)}}
		"{{.Project.Module}}/entity/mapper"
	{{end}}
	{{range $import := .Imports}} {{if and (ne $import "time") (ne $import "github.com/gofrs/uuid")}} 
    "{{$import}}" {{end}}{{end}}
)

func mapModelsToEntities(models []{{.Project.Identifier}}db.{{.EntityName}}) []main_entity.{{.EntityName}} {
	result := []main_entity.{{.EntityName}}{}
	for _, p := range models {
		result = append(result, mapModelToEntity(p))
	}
	return result
}

func mapModelToEntity(m {{.Project.Identifier}}db.{{.EntityName}}) main_entity.{{.EntityName}} {	
	return main_entity.{{.EntityName}}{ {{range $field := .Fields}}
        {{$field.Name}}: {{$field.RepoFromMapper}},{{end}}	
	}
}