
ports:  
  grpc: {{.APIConfig.GRPCPort}}

auth: {{if eq .HasBasicAuth true}} 
  basic:
    username: {{ .Auth.Config.Basic.Username }}
    password: {{ .Auth.Config.Basic.Password }}{{end}}
  {{if eq .HasJWTAuth true}}jwt:
    key: {{ .AuthConfig.Config.JWT.Key }}{{end}}
  {{if eq .HasKeycloakAuth true}}keycloak:
    hostname: {{ .AuthConfig.Config.Keycloak.Hostname }}
    realm: {{ .AuthConfig.Config.Keycloak.Realm }}
    client_id: {{ .AuthConfig.Config.Keycloak.ClientID }}
    client_secret: {{ .AuthConfig.Config.Keycloak.ClientSecret }}{{end}}

{{if eq .KafkaEnabled true}}
events:
  enabled: true
kafka:  
  version: {{.KafkaConfig.Version}} 
  brokers: {{range $b := .KafkaConfig.Brokers}}  
    - {{$b}} {{end}}    
  topics: {{range $t := .KafkaConfig.Topics}}  
    - {{$t}} {{end}}
{{end}}

db:
  - name: << Database Name Here>>
    host: << Database Host Here>>
    port: << Database Port Here>>
    user: << Database User Here>>
    pswd: << Database Password Here>>
    params: << Database Params Here>>
    driver: "<< Database Driver Here >>"

aws:
  - region: << AWS Region Here>>
    key_id: << AWS Key ID Here>>
    secret: << AWS Secret Here>>
    bucket: << AWS Bucket Here>>

monitoring:
  enabled: {{.MonitoringConfig.Enabled}}