
ports:  
  grpc: {{.APIConfig.GRPCPort}}
  http: {{.APIConfig.HTTPPort}}

auth:
  {{if eq .HasJWTAuth true}}jwt:
    key: << Key Here >>{{end}}
  {{if eq .HasKeycloakAuth true}}keycloak:
    hostname: << Keycloak Hostname Here >>
    realm: << Keycloak Realm Here >>
    client_id: << Keycloak Client ID Here >>
    client_secret: << Keycloak Client Secret Here >>{{end}}

{{if eq .KafkaEnabled true}}
events:
  enabled: true
kafka:  
  version: << Kafka Version Here >>
  brokers: 
    - << Kafka Broker 1 Here >>
    - << Kafka Broker 2 Here >>
  topics: 
    - << Kafka Topic 1 Here >>
    - << Kafka Topic 2 Here >>
{{end}}

db:
  - name: << Database Name Here>>
    host: << Database Host Here>>
    port: << Database Port Here>>
    user: << Database User Here>>
    pswd: << Database Password Here>>
    params: << Database Params Here>>
    driver: "<< Database Driver Here >>"

monitoring:
  enabled: {{.MonitoringConfig.Enabled}}