package events 

func New(params Params) *Implementation {
    return &Implementation{
        {{if eq .KafkaEnabled true}}
        client: params.Client,
        {{end}}
        {{if eq .Monitoring.Enabled true}}
        monitoring: params.Monitoring,
        {{end}}
        provider: params.Provider,
    }
}

